.design-box {
  padding-top: 130px;
  text-align: center;
  width: 100%;
  height: auto;

  .d-item {
    padding: 40px;
    margin: 0 auto 50px;
    border-radius: 20px;
    width: 800px;
    height: 800px;
    box-shadow: 0px 0px 21px -3px #777777;
    transition: all 1s;

    @media screen and (max-width: 1024px) {
      width: 700px;
      height: auto;
    }
    @media screen and (max-width: 768px) {
      width: 500px;
      height: auto;
      padding: 30px;
    }
    @media screen and (max-width: 425px) {
      width: 300px;
      height: auto;
      padding: 20px;
    }
  }

  .d-url {
    color: white;
    &:hover {
      color: blue;
    }
  }

  .d-img {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      width: 250px;
      height: auto;
    }
    @media screen and (max-width: 425px) {
      width: 180px;
      height: auto;
    }
  }
}
